<!--OPCIONES PARA EL CAROUSEL (TIEMPO EN MILISEGUNDOS DEL SLIDER Y AGREGR SLIDE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
        </div>
        <div class="col-md-6">
          Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
          <br />Enter a negative number or 0 to stop the interval.
        </div>
      </div>-->

      <!-- ACCORDION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
<div class="container col-xs-12">
<div class="accordion text-center" id="my-accordion">
  <!--PEOPLE-->
<!--
<div class="accordion-group">
<div class="accordion-heading form-group container col-xs-12">
<a href="#collapse-1" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle" target="_self">
<div class="col-xs-1 col-md-3">
<img src="img/glyphicons-4-user.png" alt="People">
</div>
<div class="col-xs-5 col-xs-offset-0 col-md-5 col-md-offset-0 text-left"><span class="glyphicon glyphicon-sort aria-hidden="true""></span><strong> 6518</strong>
</div>
</a>
</div>
<div class="accordion-body collapse form-group container col-xs-12" id="collapse-1">
<div class="accordion-inner">
<div class="col-xs-12 text-left">
<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
<span><strong>98984 +</strong></span>
<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
<span><strong>65258</strong></span>
</div>
</div>
</div>
</div>

<!--MOTORCYLCE-->
<!--
<div class="accordion-group">
<div class="accordion-heading form-group container col-xs-12">
<a href="#collapse-2" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle" target="_self">
<div class="col-xs-1 col-md-3">
<img src="img/glyphicons-495-motorcycle.png" alt="Motorcylce">
</div>
<div class="col-xs-5 col-xs-offset-0 col-md-5 col-md-offset-0 text-left"><span class="glyphicon glyphicon-sort aria-hidden="true""></span><strong> 0</strong>
</div>
</a>
</div>
<div class="accordion-body collapse form-group container col-xs-12" id="collapse-2">
<div class="accordion-inner">
<div class="col-xs-12 text-left">
<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
<span><strong>5 +</strong></span>
<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
<span><strong>515</strong></span>
</div>
</div>
</div>
</div>
<!--CARS-->
<!--
<div class="accordion-group">
<div class="accordion-heading form-group container col-xs-12">
<a href="#collapse-3" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle" target="_self">
<div class="col-xs-1 col-md-3">
<img src="img/glyphicons-6-car.png" alt="Cars">
</div>
<div class="col-xs-5 col-xs-offset-0 col-md-5 col-md-offset-0 text-left"><span class="glyphicon glyphicon-sort aria-hidden="true""></span><strong> 6258</strong>
</div>
</a>
</div>
<div class="accordion-body collapse form-group container col-xs-12" id="collapse-3">
<div class="accordion-inner">
<div class="col-xs-12 text-left">
<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
<span><strong>959 +</strong></span>
<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
<span><strong>2529</strong></span>
</div>
</div>
</div>
</div>
<!--BUS-->
<!--
<div class="accordion-group">
<div class="accordion-heading form-group container col-xs-12">
<a href="#collapse-4" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle" target="_self">
<div class="col-xs-1 col-md-3">
<img src="img/glyphicons-59-truck.png" alt="Buses/Trucks">
</div>
<div class="col-xs-5 col-xs-offset-0 col-md-5 col-md-offset-0 text-left"><span class="glyphicon glyphicon-sort aria-hidden="true""></span><strong> 5252</strong>
</div>
</a>
</div>
<div class="accordion-body collapse form-group container col-xs-12" id="collapse-4">
<div class="accordion-inner">
<div class="col-xs-12 text-left">
<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
<span><strong>92 +</strong></span>
<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
<span><strong>6265</strong></span>
</div>
</div>
</div>
</div>
</div>
</div>-->


