    <div id="admin" class="container">
        <div class="container">
            <h1>User list</h1>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <table class="table table-bordered table-hover text-right" style="vertical-align:middle;">
                    <thead>
                        <tr class="info">

                            <!--<th class="text-right"ng-repeat="user in Users.Cols">{{user}}</th>-->
                            <th class="col-xs-1 text-center">{{Users.Cols[0]}}</th>
                            <th class="col-xs-3 text-right">{{Users.Cols[1]}}</th>
                            <th class="col-xs-3 text-right">{{Users.Cols[2]}}</th>
                            <th class=" text-center">{{Users.Cols[3]}}</th>
                            <th class="text-center">Edit</th>
                            <th class=" text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in Users.Users" class="user-listing">

                            <td class="text-center alignMiddle">{{$index + 1}}</td>
                            <td class="alignMiddle">
                                <span ng-hide="editMode">{{user.name}}</span>
                                <form name="forma">
                                    <input ng-show="editMode" ng-model="user.name" type="text" class="form-control" id="inputUsername" name="username"  valid-username /></form>
                                </td>
                                <td class="alignMiddle">
                                    <span ng-hide="editMode">{{user.password}}</span>
                                    <input ng-show="editMode" ng-model="user.password" type="text" class="form-control" id="inputPassword" name="password" ng-model="password" valid-password />
                                </td>
                                <td class="text-center alignMiddle">

                                    <span ng-hide="editMode" >{{user.level}}</span>
                                    <select ng-show="editMode" id="level" name="level" ng-model="user.level" class="form-control" >
                                        <option value="1" selected="true">1.Admin</option>
                                        <option value="2">2.User</option>
                                    </select>
                                </td>
                                <td class="text-center alignMiddle">
                                    <button  ng-hide="editMode" ng-click="editMode=true"ng-disabled="{{user.level == 1}}" class="btn btn-info" aria-label="Left Align" ><span class="glyphicon glyphicon-edit"></span> </button>
                                    <div ng-show="editMode" class="row">
                                        <button  ng-show="editMode" ng-click="editRow()" ng-disabled="{{user.level == 1}}" class="btn btn-info" aria-label="Left Align" ><span class="glyphicon glyphicon-ok"></span> </button>
                                        <button  ng-show="editMode"ng-disabled="{{user.level == 1}}" class="btn btn-danger" aria-label="Left Align" ><span class="glyphicon glyphicon-remove"></span> </button>
                                    </div>

                                </td>
                                <td class="text-center alignMiddle"><button ng-disabled="{{user.level == 1}}" type="button" class="btn btn-danger" aria-label="Left Align" ng-click="removeRow(user.name)" ><span class="glyphicon glyphicon-trash" ></span> <span class="hidden-xs"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--ng-click="removeRow(user.name)"-->
            </div>
            <div class="container form-group">
                <button ng-click="isCollapsedAdd = !isCollapsedAdd" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add New User</button>
                <div collapse="isCollapsedAdd">
                    <form  name="myform" class="form form-horizontal" novalidate>
                        <div class="well well-lg">
                            <div class="form-group" ng-class="{'has-error': myform.username.$error.isBlank}">
                                <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
                                <div class="col-sm-10 controls">
                                    <input type="text" class="form-control" id="inputUsername" name="username" ng-model="username" valid-username />
                                    <div class="help-inline">
                                        <span class="text-danger" ng-if="!!myform.username.$error.isBlank">Username Required.</span>
                                        <span class="text-danger" ng-if="!!myform.username.$error.invalidChars">Username must contain letters &amp; spaces only.</span>
                                        <!--<span class="text-danger" ng-if="!!myform.username.$error.invalidLen">Username must be 5-20 characters.</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': myform.password.$error.isBlank || myform.password.$error.invalidLen}">
                                <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
                                <div class="col-sm-10 controls">
                                    <input type="text" class="form-control" id="inputPassword" name="password" ng-model="password" valid-password />
                                    <div class="help-inline">
                                        <span class="text-danger" ng-if="!!myform.password.$error.isBlank">Password Required.</span>
                                        <!--<span class="text-danger" ng-if="!!myform.password.$error.isWeak">Must contain one upper &amp; lower case letter and a non-letter (number or symbol.)</span> -->
                                        <span class="text-danger" ng-if="!!myform.password.$error.invalidLen">Must be 8-20 characters.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': myform.password_c.$error.isBlank || myform.password_c.$error.noMatch}">
                                <label for="password_c" class="col-sm-2 control-label">Confirm Password:</label>
                                <div class="col-sm-10 controls">
                                    <input type="text" class="form-control" id="password_c" name="password_c" ng-model="password_c" valid-password-c />
                                    <div class="help-inline"> 
                                        <span class="text-danger" ng-if="!!myform.password_c.$error.isBlank">Confirmation Required.</span>
                                        <span class="text-danger" ng-if="!!myform.password_c.$error.noMatch">Passwords don't match.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="level" class="col-sm-2 control-label">Level:</label>
                                <div class="col-sm-2">
                                    <select id="level" name="level" ng-model="level" class="form-control" >
                                        <option value="1" selected="true">1.Admin</option>
                                        <option value="2">2.User</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-actions" ng-click="formAllGood()">
                                <div class="col-sm-offset-2 col-sm-10 ">
                                    <input type="submit" class="btn btn-primary" value="Submit" /></div>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
